<a href="https://colab.research.google.com/github/ruhidm/PythonExercises/blob/main/HackerRank_8_NestedList.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Nested List - means list is consist of lists.
# Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) 
# having the second lowest grade.
# Note:If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.
# Input Frormat:
# list = [[Harry, 24.32], [Mika, 24.32], [Lima, 25.34], [Kyler, 20.12]]
# Output will be:
#   Lima
#   Mika
# Print the name(s) of any student(s) having the second lowest grade in. If there are multiple students, order their names alphabetically and 
# print each one on a new line.

lista = []
for i in range(int(input())):
        name = input()
        score = float(input())
        lista.append([name, score])
second = sorted(list(set(x[1] for x in lista)))[1]
print("\n".join(sorted([i[0] for i in lista if i[1] == second])))