<a href="https://colab.research.google.com/github/ruhidm/PythonExercises/blob/main/HackerRank_9_FindingAverageDIC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks
# array for the student name provided, showing 2 places after the decimal.
# Exaample:
# Marks key: Value Pairs are:
# 'alpha', [20, 30, 50]
# 'beta', [23, 45, 48]
# query_name = 'beta'
# query_name is beta and beta average is (23+45+48)/3
# Input Format
# The first line contains the integer n, the number of students' records. The next n lines contain the names and marks obtained by a student, each 
# value separated by a space. The final line contains query_name, the name of a student to query.
# COnstraints: 2<= n <= 10, 0 <= marks <= 100, length of mark arrays = 3
# Print one line: The average of the marks obtained by the particular student correct to 2 decimal places.


n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()